.topbar {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    position: relative;

    &__logo {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%)
    }

    &__catalog {
        display: flex;

        &--text {
            margin: 0 1.3rem;
            font-family: Gilroy;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;

            @media screen and (max-width: 750px) {
                display: none;
              }
        }
    }

    &__search {
        position: absolute;
        padding-left: 20rem;
        display: flex;
        align-items: center;
        border: none;
        flex: 0 0 10%;

        @media screen and (max-width: 750px) {
            padding-left: 10rem;
        }

        @media screen and (max-width: 700px) {
            display: none;
        }

        &--input {
            border: none;
            padding: 1rem;
            flex: 1;
            margin: -3rem;
            border-radius: 100px;

            font-family: Gilroy;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.7rem;
            letter-spacing: 0em;
            text-align: center;

            @media screen and (max-width: 750px) {
                display: none;
              }
        }
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        align-self: stretch;
        height: 100%;
        

        & > * {
            display: flex;
            align-items: center;
        }

        &--number {
            font-family: Gilroy;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
        }

        &--cabinet {
            padding: 0 1.15rem;

            &-text {
                font-family: Gilroy;
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: center;

                @media screen and (max-width: 700px) {
                    display: none;
                  }
            }
        }
        &--favorite {
            padding: 0 1.15rem;

            @media screen and (max-width: 700px) {
                display: none;
              }
        }
        &--cart {
            padding: 0 1.15rem;
        }
    }
}

.topbar__btn--search {
    z-index: 1;
}

.topbar__nav--btn-cab {
    padding: .8rem;
    @media screen and (max-width: 700px) {
        display: none;
      }
}

.topbar__nav--btn-favorite {
    padding: .5rem;
    @media screen and (max-width: 700px) {
        display: none;
      }
}

.topbar__nav--btn-cart {
    padding: .5rem;
}

.topbar__btn--catalog {
    @media screen and (max-width: 1000px) {
        margin-left: 1.5rem;
    }
}